[irc1]
channels={{ key "bots/mmp/channels" }}
username={{ key "bots/mmp/nick" }}
password={{ keyOrDefault "bots/mmp/password" "" }}
host={{ key "bots/mmp/host" }}
port={{ keyOrDefault "bots/mmp/port" "6697" }}
ssl={{ keyOrDefault "bots/mmp/ssl" "True" }}
